@import "tailwindcss";

button {
    cursor: pointer;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer components {
    .btn-primary {
        @apply text-white bg-[#0e57f1] shrink-0 font-medium text-xl hover:bg-[#2a63d9] rounded-full px-6 py-2 transition-colors;
    }

    .btn-secondary {
        @apply bg-[#dadde0] shrink-0 font-medium text-xl hover:bg-[#d5d8da] rounded-full px-6 py-2 transition-colors;
    }
    .btn-primary-c {
        @apply text-white bg-[#0e57f1] shrink-0 font-medium text-xl hover:bg-[#2a63d9] rounded-full px-3 py-2 transition-colors;
    }

    .btn-secondary-l {
        @apply bg-[#dadde0] shrink-0 font-medium text-xl hover:bg-[#d5d8da] rounded-full px-8 py-4 transition-colors;
    }
    .btn-primary-l {
        @apply text-white bg-[#0e57f1] shrink-0 font-medium text-xl hover:bg-[#2a63d9] rounded-full px-8 py-4 transition-colors;
    }

    .btn-secondary-c {
        @apply bg-[#dadde0] shrink-0 font-medium text-xl hover:bg-[#d5d8da] rounded-full px-3 py-2 transition-colors;
    }
}
